body {
background-image: url('background@2x.jpg');
background-size: cover;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-position: top center;
	}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 500px, 15px, 15px, 15px;
}

h1 {
	font-weight: 200;
	font-size: 2em;
}
.contain {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	height: 100%;
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 5%;
	padding: 5px 30px;
	width: 300px;
	height: 500px;
	border-radius: 3px;
	background-color: var(--bg-color);
	border-radius: 40px;
	box-shadow: -2px -2px 4px 0px #ffffff, 50px 50px 50px 0px rgba(0, 0, 0, 0.25);
	display: block;
	flex: 1;
	min-height: 500px;
	max-width: 350px;
	margin-bottom: 25px;
	margin-top: 25px;
	overflow: hidden;
	padding: 30px;
}

.container{
	display: flex;
	justify-content: center;
}
.Current{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
}
.search-box{
	background-color: lightskyblue;
	box-shadow: black;
}
#button{
	background-color: lightskyblue;
	box-shadow: white;
}

.sky{
display: flex;
flex: 1;
flex-direction: column;
padding-top: 10px;
padding-bottom: 15px;
font-size: 1.5em;
}

.high{
position: absolute;
left: 120px;
text-align: center;
display: flex;
flex: 1;
flex-direction: column;
padding: 0px 0px 0px 0;
font-size: 1.5em;
}

.low{
position: relative;
left: 30px;
right: 10px;	
display: flex;
justify-content: right;
flex: 1;
flex-direction: column;
padding: 0 0px 0px 0;
font-size: 1.5em;
}

.Precipitation{
display: flex;
flex: 1;
text-align: center;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
font-size: 1.5em;
}




